# ------------------------------------------------------------------------
# NOTE! Never push the .env file to a repository. In this solution,
#       this example has been added to document the environment variables.
# ------------------------------------------------------------------------
# DISCLAIMER: This is an example connection string. ALWAYS use an 
#             environment variable to store the connection string.
# DB_CONNECTION_STRING="mongodb://localhost:27017/<name>"
# DB_CONNECTION_STRING='mongodb+srv://<dbuser>:<password>@<cluster>.mongodb.net/<name>?retryWrites=true&w=majority'
# ------------------------------------------------------------------------

DB_CONNECTION_STRING={ The MongoDB connection string. }
PORT={ The port that the server listens for after connections. }
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_LIFE=